prometheus.scrape "pve" {
    targets = [
        {
            __address__ = "127.0.0.1:9221",
            instance = constants.hostname,
        },
    ]
    metrics_path = "/pve"

    scrape_interval = "10s"
    params          = { "module" = ["default"], "cluster" = ["1"], "node" = ["1"] }

    forward_to = [prometheus.remote_write.pve_metrics_service.receiver]
}

prometheus.remote_write "pve_metrics_service" {
    endpoint {
        url = "{{ alloy_mimir_uri }}"
    }
    external_labels = {
        environment = "lab",
        instance = constants.hostname,
    }
}
